@model IEnumerable<Test_MVC.Model.EmploayeeModel>

@{
    ViewBag.Title = "getAllEmployees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageHeading
{
    <div style="width:100%;background-color:lightyellow">
        <h2>getAllEmployees</h2>
    </div>
}

<p>
    @Html.ActionLink("Create New", "AddEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.ActionLink("Edit", "editEmployee", new { id = item.employeeID }) |
                @Html.ActionLink("Details", "getEmployeeDetail", new { id = item.employeeID }) |
                @Html.ActionLink("Delete", "deleteEmployee", new { id = item.employeeID }) |
                <a id="btnJson" onclick="getJsonData(@item.employeeID)" style="cursor:pointer">Get Json Data</a> 
            </td>
        </tr>
    }

</table>
<div id="divJsonDetails" style="display:none">
    <span>Json String : </span><label id="lblJsonString"></label>
    <br />
    <br />
    <table width="50%">
        <tr>
            <td>Employee ID</td>
            <td> : </td>
            <td><label id="lblID"></label></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td> : </td>
            <td><label id="lblFirstName"></label></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td> : </td>
            <td><label id="lblLastName"></label></td>
        </tr>
        <tr>
            <td>Email</td>
            <td> : </td>
            <td><label id="lblEmail"></label></td>
        </tr>
        <tr>
            <td>Code</td>
            <td> : </td>
            <td><label id="lblCode"></label></td>
        </tr>
    </table>
    <label id="lblerr"></label>
</div>
<script>
    function getJsonData(id) {
        document.getElementById("divJsonDetails").style.display = "block";
        $.ajax({
            url: "getEmployeeDetailJson/" + id,
            method: "GET",
            success: function (data) {                
                $("#lblJsonString").text(data);
                console.log(data);
                data = JSON.parse(data);
                console.log(data);
                $("#lblID").text(data.employeeID);
                $("#lblFirstName").text(data.FirstName);
                $("#lblLastName").text(data.LastName);
                $("#lblEmail").text(data.Email);
                $("#lblCode").text(data.Code);
            },
            error: function (err) {
                $("#lblerr").text(err);
            }
        })
    }
</script>
